<header>
  <div class="menu">
  myNews
  </div>
  <nav class="navigation">


    <ul>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Select source</a>
        <div class="dropdown-content">
          <a href="#">News Global</a>
          <a href="#">News Ukraine</a>
          <a href="#">News Paris</a>
        </div>
      </li>
      <li>
        <!--<input class= "filter" type="text" name="" value="Filter">-->
   <!-- [(ngModel)]="searchText"-->     <input class=" filter form-control" type="text" name="searchText" [(ngModel)]="searchText" (click)="highlightSelected(searchText)"
                                               autocomplete="off" placeholder="Start searching...">

      </li>
      <li><a href="javascript:void(0)" class="dropbtn"   (click)="highlightSelected(searchText)" >Filter</a></li>

      <li>
        <a href="javascript:void(0)" class="dropbtn">Add article</a>
      </li>

    </ul>



  </nav>
</header>
<!--<app-news [searchText] = "searchText"></app-news>    -->
