<!--
var news_title = document.getElementById('news_title').value;
var news_description = document.getElementById('news_description').value;
var news_image= document.getElementById('news_image').value;
var uid = firebase.database().ref().child('news').push().key;
var data = {
news_id: uid,
news_title: news_title
-->


<div class="container narrow">
  <h1 class="heading">Create News</h1>
  <form>
    <div class="form-group">
      <label type="text">Heading</label>
      <input type="text" class="form-control" id="news_title" required>
    </div>

    <!--<div class="form-group">
      <label for="news_description2">Short description</label>
      <input type="text" class="form-control" id="news_description2">
    </div>-->

    <div class="form-group">
      <label for="news_image">Image URL</label>
      <input type="text" class="form-control" id="news_image">
    </div>




    <div class="form-group">
      <label for="news_description">Content:</label>
      <textarea class="form-control" rows="9" id="news_description"></textarea>
    </div>

    <button type="submit" class="btn btn-cancel" (click)= "reload_page()" [routerLink] = "'/'">Cancel</button>
    <button type="submit" class="btn btn-success"  (click)= "save()" >Save</button>


  </form>
</div>
