body {
    background: $contentBackground;
    margin: 0;
}
main {
      margin: 0 auto;
      width: 960px;
}

.header-wrap{
    background-image: $back-image;
    background-repeat: no-repeat;
    border-bottom-right-radius: 50% 25%;
    height: 900px;
}


.header-wrap{
    padding-left:12em; 
    padding-right:12em; 
}

.landing-logo {
    display: -webkit-inline-box;
}

.landing-logo > p {
    font-family: $sans-font;
    font-weight: 600;
    font-size: 140%;
    margin-left: 20px;
    
}

  .landing-logo  span {
      font-size: 50%;
      display: flex;
      margin-left: 5px;
  }

span::before {    
    content: '\A';
    white-space: pre;
}

.header_heading{
    font-size: 200%;
}

.landing-logo > img{
    margin-block-start: 1.8em;
    margin-block-end: 1em;
}

.header_heading , .header_text , .landing-logo p , .section_banner_heading , .section_text{
    color:  $font-color;
}

.header_heading {
    font-size: 500%;
    max-width: 600px;
    font-family: $sans-font;
    font-weight: 700;
}

.header_heading::after{
    content: '';
    display: block;
    width: 335px;
    height: 27px;
    background: #14a0c7;
    z-index: 5;
    margin-top: -37px;

}

.header_text{
    font-size: 120%;
    max-width: 700px;
    font-family: sans-serif;
}


@mixin button_style {
    background-color: $button-color;
    color: white;    
    border-width: 0px;
    width: 100px;
    border-radius: 2px;
    height: 40px;
}

.header_button {
    @include button_style();
    margin-top: 100px;  
}

.section_banner_button {
    @include button_style();
   
    color: white;
    border-width: 0px;
    width: 100px;
    border-radius: 2px;
    height: 40px;
    margin: 5%;
    margin-left: 110px;
}

.section_text {
    font-size: 200%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
}

.section_text::after {
    content: '';
    display: block;
    width: 150px;
    height: 10px;
    background: #14a0c7;
    z-index: 5;
    margin-top: -15px;
    margin-left: 485px;
    align-content: center;
}


.section_card_wrap  { 
    display: flex;
    justify-content: space-between;
}
.section_card {
    background-color: rgb(33, 35, 46);
    color: rgb(187, 190, 206);
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    width: 33.33%;
    z-index: -2;
}

.section_card_heading {
    // position: absolute;
    color: white;
    text-align: center;
    z-index: 100;
    width: fit-content;
    margin: auto;
    margin-bottom: -20px;   
}

 
.section_card_heading::after   {
  
    content: '';
    position: relative;
    display: inline-block;
    bottom: 13px;
    height: 8px;
    background-color: #14a0c7;
    width: 100%;
    z-index: -1;
    
}
 
.section_card_img {
    width: 100%;
    border-radius: 5px;
}

.section_card_text{
    text-align: center;
}

.section_banner{
    background-image: linear-gradient(to right, #659510, #305ecf);
    border-radius: 5px;
    display: flex;
    height: 120px;
    margin-top: 120px;
    z-index: 1;
    margin-bottom: -50px;
    position: relative;
    margin-left: 90px;
    margin-right: 90px;
}

.section_banner_heading{
    color:  $font-color;; 
    font-size: x-large;
    font-weight: 900;
    font-family: $sans-font;

}


.section_banner_text{
    color:  white;
    opacity: 0.7;
}

.section_banner_text_wrap {
    margin-left: 150px;
}

.footer {
    background-color: #21232e;
    height: 150px;
}

.footer-wrap{
    display: flex;
    color: rgb(192, 195, 196);
    padding-top: 60px;
    font-size: 85%;
}

.footer_logo, .footer_text, .footer-cr {
    width: 33.33%;
    text-align: center;
}

.footer_logo{
    padding-left: 75px;
    
}

.footer_logo > p {
    color: rgb(192, 195, 196);
    font-weight: 400;
}

.section_banner_heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 7px;
    background: #14a0c7;
    z-index: 5;
    margin-top: -10px;
    margin-left: 95px;
    align-content: center;
}

