$contentBackground: #fff;

//font-family: 
$sans-font: 'Source Sans Pro', sans-serif;
$hindi-font:  'Hind', sans-serif;
$fresca-font: 'Fresca', sans-serif;

$back-image: url(../img/m-h-day.jpg);

$font-color: rgb(44, 47, 60);

$button-color:  rgb(105, 153, 0);

$garadient: linear-gradient(to right, #659510, #305ecf);

$section-card-background: rgb(33, 35, 46);

$footer-background: #21232e;

$underline-color:#14a0c7;
