<!--<app-newslist [news]="news"    xmlns:filter="http://www.w3.org/1999/xhtml"></app-newslist>-->

<div class="center">
  <ul>
    <li   *ngFor="let item of news | filter: searchText"> <!--; let  i = index; -->
<!--<tr *ngFor="let hero of heroes | filter:searchText">-->
      <h3 > {{item.title}}</h3>

      <img class="image" src="{{item.avatarUrl}}" alt="">
      <br>
      {{item.description}}
    </li>
      <br>

  </ul>
</div>

<button class="centered"  (click)= "reload_page()">Load news</button>


<table  id="tbl_news_list" border="1">
  <tr>
    <td>#ID</td>
    <td>Title</td>
    <td>Image</td>
    <td>Description</td>
  </tr>

</table>

<!--<p>news works!</p>-->
